*{padding:0;margin:0}html{font-family:arial,"Microsoft Yahei";font-size:12px;width:100%}body{font-family:arial,"Microsoft Yahei";font-size:12px;width:100%;background:0}img{border:0}a{color:#888;text-decoration:none}a:hover{color:#fff;text-decoration:none}ul li{list-style:none;padding:0;margin:0}ol,ul{margin-top:0;margin-bottom:0}p{margin:0;padding:0}.header{width:100%;z-index:999;overflow:hidden;text-align:center}.box{float:left;width:100%;overflow:hidden;position:relative}.box .logo{width:100%}.box .navs{width:100%;overflow:hidden;margin-top:20px}.box .navs a{text-align:center}.ads{width:100%;float:left;margin-bottom:20px}.ads img{float:left;width:100%}.ads_jietu{width:100%;text-align:center;margin-bottom:20px}.ads_title{width:100%;float:left;text-align:center;margin-bottom:20px}.ads_ios{width:100%;float:left;text-align:center;margin-bottom:20px}.ads_ewm{width:100%;float:left;text-align:center;margin-bottom:0}.ads_ewm a{display:inline-block;width:180px;margin:0 20px}.ads_ewm a img{float:left;width:100%}.ads_ewm a p{float:left;width:100%;line-height:50px;font-size:16px;color:#fff}.ads_3{width:100%;float:left;text-align:center;margin-bottom:20px}.ads_3 a{display:inline-block;width:213px;margin:0 20px}.ads_3 a img{float:left;width:100%;border-radius:10px;overflow:hidden;border:1px solid #b79839}#certify{position:relative;width:850px;margin:50px auto 0 auto;overflow:hidden}#certify .swiper-slide{width:274px;}#certify .swiper-slide img{display:block;width:100%;border-radius: 20px;float:left}#certify .swiper-slide p{line-height:98px;padding-top:0;text-align:center;color:#636363;font-size:1.1em;margin:0}#cs{position:fixed;right:60px;bottom:60px;display:block;cursor:pointer}#ewm{position:fixed;display:block;bottom:-710px;cursor:pointer;height:80%;height:100%}.gallery{position:relative}#AndroidCode img{width:100%}#IosCode img{width:50%}.contact{position:absolute;width:100%;top:0;left:0;height:200px}.container .box{text-align:center}
.pc-buttons a{
    font-size: 30px;
    background: white;
    width: 220px;
    display: inline-block;
    color: #f55f22;
    line-height: 60px;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid #ff5c03;
    margin: 20px 10px 20px 10px;
    transition: all ease 0.3s;
}
body{
    background: #fff;
}
.pc-buttons a:hover{
    color: white;
    background: #f55f22;
    border: 2px solid #e75201;
}
.box .logo{
    margin-top: 50px;
}
.box .navs a {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    transition: all ease 0.3s;
}
.box .navs a:hover {
    border-bottom: 2px solid #e36f008c;
}
.box .navs {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.ads_jietu{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}
.ads_jietu .screen{
    max-width: 800px;
    margin: 0 auto;
}

.ads_jietu .swiper-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ads_jietu .swiper-slide img{
    width: 100%;
}
#screen-shot{
    margin:30px 0;
}
